<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <header>
      <h1>Vivek Jethva / N01579474</h1>
    </header>

    <div class="content">
      {{{body}}}
    </div>

    <footer>
      <h3> vivekjethva@gmail.com</h3>
    </footer>
  </body>
</html>