<h1>Assignment 2 / Vivek</h1>
  <h2>Search Title for details </h2>
  <form action="/data/search/title/" method="post">
    <label for="title">Enter Title :</label>
    <input type="text" id="title" name="title" required />
    <button type="submit">Search</button>
  </form>
